*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

ul{
    background: #333333;
    overflow: hidden;
    
}
ul li{
    float: left;
    list-style-type: none;

}
ul li a{
    padding: 13px 16px;
    text-decoration:none;
    display: inline-block;
    color: white;
}
ul li a:hover{
    background:red;
}
.menu{
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 900px;
}
.menu1{
    margin-top: -43px;
    margin-left: 300px;
    margin-right: 500px;
    float:right;
    
}